body {
            font-family: sans-serif;
            background-color: #9cd1df;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 20px;
            box-sizing: border-box;
        }

        .secao {
            background: #caf8ff;
            padding: 2rem;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 4000px;
            text-align: center;
            box-sizing: border-box;
        }

        h3 {
            margin-top: 0;
            color: #333;
            font-size: 1.5rem;
        }

        input {
            width: 100%;
            padding: 12px;
            margin: 8px 0;
            border: 1px solid #81cde2;
            border-radius: 6px;
            box-sizing: border-box;
            font-size: 1rem;
        }

        .botoes-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 15px;
        }

        button {
            width: 100%;
            padding: 14px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-weight: bold;
            font-size: 1rem;
        }

        .btn-calc {
            background-color:  #9cd1df;
            color: #000000;
            border: 1px solid #81cde2;
        }

        .btn-voltar {
            background-color:  #9cd1df;
            border: 1px solid #81cde2;
            padding: 0;
        }

        .btn-voltar a {
            text-decoration: none;
            color: #000000;
            display: block;
            padding: 14px;
        }

        #resultado {
            margin-top: 20px;
            font-weight: bold;
            font-size: 1.2rem;
        }

        @media (min-width: 480px) {
            .secao {
                padding: 2.5rem;
            }

            .botoes-container {
                flex-direction: row;
            }

            button {
                padding: 12px;
            }

            .btn-voltar a {
                padding: 12px;
            }

            .genero {
                display: flex;
                flex-direction: row;
                gap: 10px;
                margin-top: 15px;
            }

            .masculino{
                background-color: #ffffff;
                color: rgb(28, 101, 160);
                border: 1px solid #81cde2;
            }

            .masculino:hover{
                transform: translateY(-5px);
                background-color: #9cd1df;
            }

            .feminino{
                background-color:  #ffffff;
                color: rgb(210, 142, 212);
                border: 1px solid #81cde2;
            }

            .feminino:hover{
                transform: translateY(-5px);
                background-color: #755791;
            }
        }